@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<head>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="~/css/form-elements.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Sign up now</h3>
                    <p>Fill in the form below to get instant access:</p>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-pencil"></i>
                </div>
            </div>
            <div class="form-bottom">
                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="registration-form">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" placeholder="Email..." class="form-email form-control" id="form-email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" placeholder="Password..." class="form-first-name form-control" id="form-first-name" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" placeholder="Confirm Password..." class="form-last-name form-control" id="form-last-name" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn">Sign me up!</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
