@{
    ViewData["Title"] = "About";
}
<head>

</head>
<h1></h1>
<body>
    <div class="row">
        <div class="col-md-12">
            <p>Use this area to provide additional information.</p>
        </div>
    </div>
</body>

